.home-container {
  height: 100vh;
}

.home-content {
  text-align: center;
  margin-top: 50px;
}

.app-name {
  color: #45a049;
  font-weight: bold;
}

.welcome-line {
  font-weight: bold;
}

.icon-text-container {
  display: flex; /* Use flexbox for side-by-side layout */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Adjust margin as needed */
  margin-left: 530px;
}

.icon {
  margin-right: 10px;
}
