.navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#brand-logo {
  width: 130px;
  margin-left: 50px;
  font-family: "Anton", sans-serif;
  font-size: 28px;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  color: #0d4278;
  font-family: "Anton", sans-serif;
}

.navbar-nav .nav-link {
  color: #45a049;
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-right: 20px;
  padding-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid #0d4278;
}

@media (max-width: 1199px) {
  #brand-logo {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  #brand-logo {
    width: 100px;
    margin-left: 20px;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  #brand-logo {
    width: 100px;
    margin-left: 20px;
    margin-right: 0;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
}
